$green: #a2cd02;
$darkgreen: #708c37;
$lightgreen: #bcd34f;
$lightblue: #91a3a5;
$dark: #6e6f71;
$brawn: #4b3a30;


$max-width-step1: 1025px;
$max-width-step2: 740px;
$max-width-step3: 570px;

body {
  margin: 0;
}

  /***********************
   *  HEADER
   **********************/

.header {
  .header__logo, .header__text-block {
    float: left;
  }

  .header__logo {
    margin-right: 150px;

    padding-top: 30px;
    padding-bottom: 20px;

    background-color: #f6f7fb;

    @media (max-width: $max-width-step1) {
      margin-right: 100px;
    }
    @media (max-width: $max-width-step2) {
      margin-right: 15px;
    }
  }

  .header__text-block {

    margin: 0 50px;
    margin-top: 30px;

    padding: 15px 0;
    text-align: center;


    @media (max-width: $max-width-step1) {
      margin: {
        left: 25px;
        right: 25px;
      }
    }
    @media (max-width: $max-width-step2) {
      margin: {
        left: 5px;
        right: 5px;
      }
    }

    a {
      color: $dark;
      text-decoration: underline;
      display: block;
    }

    span {
      font-size: 1.2em;
    }
  }

  &::after {
    content: '';
    display: block;
    height: 10px;
    background: linear-gradient(to right, #4f6b6e, #7e9753);
  }

  @media (max-width: $max-width-step3) {
    .header__logo {
      float: none;
      width: 100%;
      text-align: center;
      padding-bottom: 15px;
    }
    .header__text-block {
      margin: 0;
    }
    .header__text-block span {
      font-size: 1em;
    }
    .header__text-block:last-of-type {
      float: right;
    }
  }
}

/***********************
 *  CONSULT
 **********************/

.consult {
  
  background: url("../images/background_01.jpg");
  background-size: cover;
  
  text-align: right;

  padding: {
    top: 40px;
    bottom: 110px;
  }

  h2 {
    padding-left: 30%;
    color: $brawn;
    text-transform: uppercase;
    margin: 0;

    font: {
      size: 2.6em;
      weight: bold;
    }

    line-height: 1.5em;

    &:first-line {
      font-size: 1.1em;
    }

    @media (max-width: 1205px) {
      font-size: 2.2em;
    }

    @media (max-width: $max-width-step1) {
      font-size: 2.0em;
      padding-left: 20%;
    }

    @media (max-width: $max-width-step2) {
      font-size: 1.8em;
      text-align: center;
      padding-left: 0;
    }

    @media (max-width: $max-width-step3) {
      font-size: 1.2em;
    }

  }
}

.consult__form {
  float: right;
  width: 40%;
  text-align: left;

  padding: 40px 50px;
  margin-top: 35px;

  background: rgba(155,155,155,.5);

  h4 {
    text-align: center;
    line-height: 1.5em;
    font-size: 1.8em;
    margin-bottom: 25px;

    &:first-line {
      font-size: 1.4em;
    }

    @media (max-width: $max-width-step2) {
      font-size: 1em;
    }
  }

  .consult__phone-input .form-control {
    display: inline-block;
  }

  .consult__phone-input .form-control:nth-of-type(3n+1) {
    width: 20%;
  }
  .consult__phone-input .form-control:nth-of-type(3n+2) {
    width: 28%;
  }

  .consult__phone-input .form-control:nth-of-type(3n) {
    width: 48.5%;
  }


  @media (max-width: $max-width-step1) {
    width: 60%;
  }

  @media (max-width: $max-width-step2) {
    padding: 15px;
    width: 80%;
  }

  @media (max-width: $max-width-step3) {
    padding: 5px;
    width: 100%;
  }
}

  /*******************************
  * FEATURES
  *****************************/

.features {
  margin-top: 10px;
  padding: {
    top: 55px;
    bottom: 70px;
  }

  background: url("../images/background_02.jpg");
  background-size: cover;

  text-align: center;

  h2 {
    color: #d9dde0;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;

    @media (max-width: $max-width-step2) {
      font-size: 1.7em;
    }
    @media (max-width: $max-width-step3) {
      font-size: 1.2em;
      margin-bottom: 20px;
    }
  }

  h3 {
    color: #c7ccd0;
    text-transform: uppercase;
    margin: 0;

    span {
      color: $green;
      text-decoration: underline;
      font-size: 1.1em;
    }

    @media (max-width: $max-width-step2) {
      font-size: 1.4em;
    }
    @media (max-width: $max-width-step3) {
      font-size: 1em;
    }
  }

  .features__list {
    margin-top: 60px;
  }

  .features__item {
    display: inline-block;
    position: relative;

    vertical-align: top;

    height: 160px;

    padding: 15px 20px;
    margin: 5px;

    color: white;

    background: url("../images/green-block.png") no-repeat;
    background-size: cover;

    h4 {
      margin: 0;
      margin-bottom: 8px;
      font-size: 2.8em;
    }

    p {
      margin: 0;
      max-width: 160px;
      font-style: italic;
    }
  }

}

/*******************************
  * SERVICES
  *****************************/

.services {

  padding: {
    top: 50px;
    bottom: 100px;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  .services__list ul{
    width: 48%;
    padding: 0;

    @media (max-width: $max-width-step3) {
      width: 100%;
    }
  }

  .services__li-container {
    margin-bottom: 10px;
    background-color: #f6f7fb;
  }

  .services__list li {
    padding: 10px 0;
    list-style-image: url("../images/marker.png");

    @media (max-width: $max-width-step3) {
      list-style-image: none;
    }
  }

  .services__list ul:first-child {
    float: left;

    .services__li-container {
      padding-left: 50%;

      @media (max-width: $max-width-step3) {
        padding-left: 10px;
      }
    }
  }

  .services__list ul:last-child {
    float: right;

    .services__li-container {
      padding-right: 50%;

      @media (max-width: $max-width-step3) {
        padding-left: 10px;
      }
    }
  }

}

  /*******************************
  * ADVANTAGES
  *****************************/

.advantages {
  padding-bottom: 60px;

  .advantages__container {
    text-align: center;
    margin-top: 70px;
  }

  .advantages__item {
    display: inline-block;
    vertical-align: top;
    width: 250px;

    h4 {
      color: #536e21;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

}

  /*******************************
    * 2-nd CONSULT FORM
    *****************************/

.contact {
  background: url("../images/background_02.jpg");
  background-size: cover;

  padding: 20px 0;

  .consult__form {
    float: none;
    margin: 0 auto;
  }
}

  /*******************************
    * REASONS
    *****************************/

.reasons {
  background: url("../images/background_04.jpg");
  background-size: cover;

  padding: {
    top: 100px;
    bottom: 60px;
  }

  .reasons__container {
    margin-top: 60px;
    padding-left: 17%;

    @media (max-width: $max-width-step2) {
      padding-left: 5%;
    }
  }

  .reasons__item {
    height: 80px;


    width: 470px;

    @media (max-width: $max-width-step2) {
      width: 100%;
    }
  }

  .reasons__item img {
    margin-right: 25px;
    float: left;
  }

  .reasons__item p {
    padding-top: 10px;


    font: {
      weight: bold;
      size: 1.05em;
    }

  }
}

  /*******************************
  * WORK PROCESS
  *****************************/

.work-process {

  $gray: #595959;

  padding: {
    top: 80px;
    bottom: 160px;
  }

  .h-special {
    color: $gray;
  }

  .work-process__steps {
    margin-top: 60px;
    text-align: center;
  }

  .work-process__step {
    width: 215px;
    height: 395px;

    padding-top: 20px;


    background-size: 50%;

    display: inline-block;
    vertical-align: top;

    box-sizing: border-box;
    border: solid 2px rgba(0,0,0,0);

    p {
      display: inline-block;
      font-weight: bold;
      width: 180px;
    }

    .work-process__img {
      margin: 0 auto;
      width: 80%;

      img {
        width: 100%;
      }
    }

    &:hover {
      border: solid 2px $darkgreen;

      p {
        color: $gray;
      }

      .work-process__step-number {
        background-color: $gray;
        color: white;
      }
    }
  }

  .work-process__step--1 {
    @extend .work-process__step;
    .work-process__img {
      background: url("../images/icn_03_01.png") no-repeat 65% 45%;
    }

    &:hover {
      .work-process__img {
        background: url("../images/icn_03_01_hover.png") no-repeat 65% 45%;
      }
    }
  }

  .work-process__step--2 {
    @extend .work-process__step;
    .work-process__img {
      background: url("../images/icn_03_02.png") no-repeat 55% 45%;
    }

    &:hover {
      .work-process__img {
        background: url("../images/icn_03_02_hover.png") no-repeat 55% 45%;
      }
    }
  }

  .work-process__step--3 {
    @extend .work-process__step;
    .work-process__img {
      background: url("../images/icn_03_03.png") no-repeat 50% 45%;
    }

    &:hover {
      .work-process__img {
        background: url("../images/icn_03_03_hover.png") no-repeat 50% 45%;
      }
    }
  }

  .work-process__step--4 {
    @extend .work-process__step;
    .work-process__img {
      background: url("../images/icn_03_04.png") no-repeat 60% 45%;
    }

    &:hover {
      .work-process__img {
        background: url("../images/icn_03_04_hover.png") no-repeat 60% 45%;
      }
    }
  }

  .work-process__step--5 {
    @extend .work-process__step;
    .work-process__img {
      background: url("../images/icn_03_05.png") no-repeat 55% 55%;
    }

    &:hover {
      .work-process__img {
        background: url("../images/icn_03_05_hover.png") no-repeat 55% 55%;
      }
    }
  }

  .work-process__step-number {
    display: inline-block;

    width: 55px;
    height: 55px;

    color: $gray;
    background-color: #dbdbdb;

    font-size: 1.8em;

    margin: 20px 0;
    padding-top: 10px;

    border-radius: 50px;
  }

  @media (max-width: $max-width-step1) {
    .work-process__step {
      width: 200px;
      height: 365px;

      p {
        font-size: 0.9em;
      }
    }
  }
}

  /*******************************
  * TESTIMONIALS
  *****************************/

.testimonials {
  padding: {
    top: 55px;
    bottom: 60px;
  }

  background-image: url("../images/testimonials.jpg");
  background-size: cover;

  text-align: center;

  h2 {
    color: white;
    margin-bottom: 60px;
  }

  .testimonials__container {
    width: 75%;
    box-sizing: border-box;

    text-align: left;

    margin: 0 auto;
    background: url("../images/testimonials-container-bg.png") no-repeat top right;
    background-size: cover;

    padding: 35px 60px 70px 60px;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .testimonials__text-block {
    width: calc(100% - 300px);
    float: left;

    h4 {
      margin: 0;
      color: black;

      span {
        text-decoration: underline;
      }

      small {
        color: black;
      }
    }

    p {
      margin-top: 25px;
      color: #dae2c7;
    }

    .testimonials__bottom-line {
      color: #1a2a29;
    }
  }

  .testimonials__img {
    position: relative;

    width: 234px;
    height: 234px;

    float: right;

    border-radius: 150px;

    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      width: 220px;
      height: 220px;

      left: 7px;
      top: 7px;

      border: solid 2px $darkgreen;
      border-radius: 150px;
    }
  }

  @media (max-width: 1000px) {
    .testimonials__text-block {
      width: 100%;
      float: none;
      padding-top: 15px;
      padding-bottom: 80px;
    }

    .testimonials__img {
      float: none;
      margin: 0 auto;
    }
  }

  @media (max-width: $max-width-step3) {
    .testimonials__img {
      display: none;
    }
    .testimonials__container {
      padding: 5px 10px 50px 5px;
    }
    .testimonials__text-block p, .testimonials__bottom-line {
      text-align: justify;
      font-size: .9em;
    }
  }
}

  /*******************************
  * CONTACTS
  *****************************/

.contacts {
  position: relative;

  padding: {
    top: 80px;
    bottom: 40px;
  }

  .h-special {
    margin-bottom: 70px;

    @media (max-width: $max-width-step3) {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    padding: 10px 0 10px 20px;
    margin-bottom: 10px;
    border-left: solid 1px $green;

    a {
      text-decoration: underline;
      color: $darkgreen;
    }

    span {
      color: $darkgreen;
    }

    .contacts__address {
      text-decoration: underline;
      color: black;
    }

    .contacts__phone {
      color: black;
    }
  }

  button {
    position: absolute;

    text-transform: uppercase;
    color: white;
    padding: 15px 50px 35px 50px;

    border: none;
    outline: none;

    background: url("../images/green-block--btn.png") no-repeat bottom right;
    background-size: cover;

    right: 15%;
    bottom: -40px;

    z-index: 10;

    @media (max-width: 360px) {
      left: 0;
      right: 0;

      width: 100%;
    }
  }
}

  /*******************************
  * FOOTER
  *****************************/

.footer {
  background: #2f414f;

  color: white;

  padding: {
    top: 35px;
    bottom: 85px;
  }
}

  /*******************************
    * OTHER STYLES
    *****************************/

.my-btn-default {
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(to top, $darkgreen, $lightgreen);
  border: none;

  text-transform: uppercase;
  color: white;
  font-size: 1.2em;

  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.h-special {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

  margin: 25px 0;

  @media (max-width: $max-width-step2) {
    font-size: 2em;
  }

  @media (max-width: $max-width-step3) {
    font-size: 1.2em;
  }

  &::before {
    content: '';
    display: inline-block;

    width: 127px;
    height: 10px;

    vertical-align: middle;
    
    background: url("../images/title-left-part.png");
    background-size: contain;
    
    margin-right: 50px;
  }

  &::after {
    content: '';
    display: inline-block;

    width: 127px;
    height: 10px;

    vertical-align: middle;

    background: url("../images/title-right-part.png");
    background-size: contain;

    margin-left: 50px;
  }

  @media (max-width: $max-width-step2) {
    &::after, &::before {
      display: none;
    }
  }
}

.h-special-large {
  @extend .h-special;

  @media (max-width: $max-width-step1) {
    &::after, &::before {
      display: none;
    }
  }

}

.h-special-2 {

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

  font-size: 2em;

  @media (max-width: $max-width-step2) {
    font-size: 1.9em;
  }

  @media (max-width: $max-width-step3) {
    font-size: 1.1em;
  }
}